/* Fix Bootstrap form-control bị override */
input[type='text'].form-control,
input[type='email'].form-control,
input[type='password'].form-control,
input[type='number'].form-control,
input[type='date'].form-control,
select.form-control,
textarea.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  height: auto;
}

input[type='text'].form-control:focus,
input[type='email'].form-control:focus,
input[type='password'].form-control:focus,
input[type='number'].form-control:focus,
input[type='date'].form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* Custom badge colors */
.badge-purple {
  color: #fff;
  background-color: #6f42c1;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

.nav-link.active {
  background-color: #0000001a !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.nav-link:hover {
  background-color: #0000001a !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.main-sidebar {
  border-right: 1px solid #dee2e6 !important;
  top: 55px !important;
  height: calc(100vh - 55px) !important;
  min-height: unset !important;
}

.main-header {
  margin-left: 0 !important;
}

.table th,
.table td {
  border: 1px solid #90caf9 !important;
  padding: 5px !important;
  vertical-align: middle !important;
  text-wrap: nowrap !important;
}

thead th {
  background: rgba(227, 242, 253, 1);
}

.card-header {
  padding: 10px 15px !important;
}

.content-wrapper {
  max-height: calc(100vh - 55px - 57px) !important;
  overflow-y: auto !important;
}
